<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://supermarket-91ff0.firebaseio.com</string>
	<key>CLIENT_ID</key>
	<string>817735800945-dpmnutim8db5vuof7np5mte71acsb7pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817735800945-dpmnutim8db5vuof7np5mte71acsb7pm</string>
	<key>API_KEY</key>
	<string>AIzaSyDD-O2Dnb3r_-Um2wkAXCgxcJ1UsxAakUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>817735800945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.miichisoft.Supermarket</string>
	<key>PROJECT_ID</key>
	<string>supermarket-91ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>supermarket-91ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:817735800945:ios:861f5495299d5167b1a3d0</string>
</dict>
</plist>
